body {
background-image: url("../imgs/bg.png");
background-color: #fcfcfc;
background-color: #fff;
margin: 0px;
padding: 0px;
}
a {
text-decoration: none;
color: red;
}
a:hover {
font-style: italic;
}
a:visited {
color: darkgreen;
}
header {
background-image: url("../imgs/logo.png");
background-color:black;
color:white;
text-shadow: 2px 2px black;
text-align:center;
padding:5px;
width:100%;
}
section {
float:center;
padding-left: 250px;
padding-right: 250px;
}
div.nav {
color: black;
margin-bottom: 10px;
margin-top: 5px;
text-align: left;
font-weight: bold;
}
div.nav a {
text-decoration: none;
}
div.nav a:hover {
font-style: italic;
}
div.nav a:visited {
color: darkgreen;
}
div.social {
text-align: center;
}
div.social a{
margin:10px;
}
header a{
margin:10px;
}
h4 {
padding-left: 5px;
}
form.custom {
background-color: #fcfcfc;
border-style: solid;
border-width: 5px;
border-color: #f1f1f1;
padding: 20px;
}
iframe.custom {
background-color: #fcfcfc;
border-style: solid;
border-width: 5px;
border-color: #f1f1f1;
padding: 20px;
}
p.projects {
background-color: #fcfcfc;
border-style: solid;
border-width: 5px;
border-color: #f1f1f1;
padding: 20px;
float: right;
}
img.projects {
float: left;
margin-right: 10px;
}
div.contact {
padding-top: 5px;
padding-bottom: 25px;
text-align: center;
}
