body {
	margin: 20px;
	background-color: #feffff;
}

a {
	text-decoration: none;
}

a:link {
    color: #4b0082;;
}

a:visited {
    color: #4b0082;;
}

a:hover {
    color: #666666;
}

a:active {
    color: #666666;
}

hr.fade {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
	margin-bottom: 5px;
	margin-top: 100px;
}

hr.modal-fade {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0));
	margin-bottom: 2px;
}

.header-img {
	margin-top: 105px;
	width: 125px;
	height: 130px;
}

.menu {
	margin-top: 35px;
}

.menu-links {
	padding-left: 18px;
	padding-right: 18px;
}

@media only screen and (max-width: 1290px) {
	.design {
		width: 100%;
	}
}

.w3-lobster {
	font-family: "Lobster", serif;
	text-shadow:1px 1px 0 #f1f1f1;
}

p.about {
	color: #bfbfbf;
}

.about-img {
	height: 32px;
	width: 32px;
	margin: 5px;
}

.w3-quarter {
    margin: auto;
    padding: auto;
}

.tb {
	color: #8a8075;
}

.cbw {
	color: #ac0606;
}

.lst {
	color: #ac9c06;
}
