body {
        background-image: url("../imgs/bg.png");
        background-color: #fcfcfc;
}
.header {
	background-image: url("../imgs/header.png");
	background-color: black;
        color: white;
        text-shadow: 2px 2px black;
	border-bottom: 5px solid #282828;
}
.center {
	text-align: center;
}
.top {
	margin-top: 5px;
	float: right;
	color: black;
}
.h3_projects {
	margin: 5px;
}
.project_img {
	float: left;
	margin: 5px;
}
.dark {
	color: white;
        background-color: #474747;
	border-top: 5px solid #282828;
	border-bottom: 5px solid #282828;
}
.light {
        background-color: #fcfcfc;
	border-top: 5px solid #f1f1f1;
	border-bottom: 5px solid #f1f1f1;
}
a {
	text-decoration: none;
	color: #fcfcfc;
}
a:hover {
	font-style: italic;
}
a:visited {
	color: #f1f1f1;
}
.label {
	color: white;
}
